<div class="grad-container">
    <h2>Education</h2>
    <div class="accordion">
        <accordion>
            <accordion-group class="accordion-panel">
                <accordion-heading>Udacity NanoDegree</accordion-heading>
                <a href="https://www.udacity.com/">Udacity</a><br>
                Sep 2016 – Dec 2016 &nbsp; &nbsp; &nbsp; &nbsp; Duration: 4 months
                <br>
                <hr>
                <ul>
                    <li>Used Bootstrap to create responsive layouts that displays clean UI on all devices</li>
                    <li>Learned latest technologies in web development to create stunning user experiences</li>
                    <li>Used Jasmine (JavaScript Testing) to test and maintain functionality of websites</li>
                    <li>Learned and used high-demand frameworks like jQuery and Angular as well as using AJAX, API, and JSON to develop web applications</li>
                </ul>
            </accordion-group>
            <accordion-group class="accordion-panel">
                <accordion-heading>Masters of Technology</accordion-heading>
                <a href="https://www.srmuniv.ac.in/">SRM University</a><br>
                Jul 2014 – May 2016 &nbsp; &nbsp; &nbsp; &nbsp; Duration: 2 years
                <br>
                <hr>
                <ul>
                    <li>Major: Communication Systems</li>
                    <li>Designed and Fabricated an Antenna to improve the ARBW (axial ratio bandwidth) and to obtain reconfigurable  property by the use of metasurface.</li>
                    <li>Metasurface is two dimension version of a meta-material that are used for polarization converter, scatter, etc</li>
                    <li>Published a paper in Indian Journel of Science and Technology</li>
                </ul>
            </accordion-group>
            <accordion-group class="accordion-panel">
                <accordion-heading>Bachelors of Technology</accordion-heading>
                <a href="https://www.mvit.edu.in//">Manakula Vinayagar Institute of Technology</a><br>
                Jul 2010 – May 2014 &nbsp; &nbsp; &nbsp; &nbsp; Duration: 4 years
                <br>
                <hr>
                <ul>
                    <li>Major: Electronics and Communication Engineering</li>
                    <li>Designed a tool to Classify Hyperspectral images</li>
                    <li>Participated in National Conference of Computer Science and presented a paper regarding healing of Node failure</li>
                    <li>Presented an idea of translating telephone conversation in PC-Expo conducted by ICT Academy</li>
                </ul>
            </accordion-group>
            <accordion-group class="accordion-panel">
                <accordion-heading>Pre-Degree</accordion-heading>
                <a href="https://www.sjclunyhsspondy.org//">St. Joseph of Cluny</a><br>
                Jun 2009 – May 2010 &nbsp; &nbsp; &nbsp; &nbsp; Duration: 1 years
                <br>
                <hr>
                <ul>
                    <li>Major: Biology Group</li>
                    <li>Learnt Extracuricular Activites like March Past, ThrowBall, Yoga</li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>
