@import url('https://fonts.googleapis.com/css?family=Merriweather');

.grad-container{
    /* padding-left: 73px; */
    background-image: url(../../assets/books.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: #000000a3;
}

h2{
    color: white;
    margin: 0px;
    padding-top: 60px;
    padding-left: 190px;
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    font-size: 50px;
}

.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-left: 190px;
}

accordion-group{
    margin: 50px !important;
    border-radius: 4px;
}

accordion-heading{
    font-size: 30px;
}

@media only screen and (max-width: 360px) {
    .grad-container{
        min-height: 112vh;
        width: 108%;
    }

    h2{
        font-size: 40px !important;
        padding-left: 89px !important;
    }

    .accordion {
        padding-left: 99px !important;
        width: 98%;
        font-size: 15px;
    }
}


@media only screen and (max-width: 510px) {
    .accordion {
        padding-left: 99px !important;
        width: 98%;
        font-size: 15px;
    }

    h2{
        padding-left: 99px !important;
    }
}

@media only screen and (max-width: 765px) {
    .accordion {
        padding-left: 127px;
    }

    h2{
        font-size: 48px;
        padding-left: 130px;
    }
}

@media only screen and (max-width: 900px) {
    .accordion {
        padding-left: 146px;
    }

    h2{
        font-size: 48px;
        padding-left: 151px;
    }
}