<div class="proj-container">
        <h3 class="header">Projects</h3>
        <hr>
        <div class="row animated fadeInRightBig">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngFor="let tech of technology">
                        <div class="technology-card" itemscope itemtype="http://schema.org/ComputerLanguage">
                                <img src="{{tech.src}}" alt="{{tech.alt}}" class="image">
                                <div class="overlay">
                                        <div class="text">
                                                <i class="fa fa-download"></i>  <a href="{{tech.ref}}" class="head">{{tech.title}}</a>
                                                <br>
                                                <span class="skills">{{tech.skills}}</span>
                                                <br>
                                                <span class="desc">{{tech.Description}}</span>
                                        </div>
                                </div>
                        </div>
                </div>

        </div>
</div>