@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.contact-container{
    /* padding-left: 73px; */
    /* background-image: url(../../assets/strret.jpg); */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: #000000a3;
}

h2{
    color: white;
    margin: 0px;
    padding-top: 35px;
    padding-left: 500px;
    font-family: 'Merriweather', serif;
}

.form-container{
    padding-left: 290px;
    padding-top: 40px;
    font-family: 'Bitter', serif;
    margin-top: 0;
    margin-bottom: 3rem;
}

.formHead{
    padding-left: 290px;
    margin-bottom: 0px;
}

input{
    background-color: transparent;
    width: 75%;
    color: white;
    height: 6.6rem;
    padding: 1.8rem 2rem;
    border: none;
    border-bottom: 1px solid white;
}

.form-header{
    text-align: left !important;
}

.btn-style{
    width: 20%;
    letter-spacing: .3rem;
    line-height: 4.4rem;
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    border: none;
}

textarea{
    color: white;
    background-color: transparent;
    width: 75%;
    min-height: 12rem;
    padding: 1.8rem 2rem;
    border: none;
    border-bottom: 1px solid white;
}

.contact-info{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding-left: 230px;
    margin: 0%;
}

.icon{
    margin-bottom: 1.4rem;
    font-size: 40px;
}

.tab-full{
    padding: 0 10px;
    word-break: break-word;
}

h5{
    color: #ff0077;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {

    .form-container{
        padding-left: 220px;
    }

    .contact-info{
        padding-left: 200px;
    }

    .formHead{
        padding-left: 220px !important ;
        padding-top: 63px;
    }
    
    .icon{
        font-size: 25px;
    }

    p{
        font-size: 13px;
    }

    h5{
        font-size: 18px;
    }
}

@media only screen and (max-width: 765px) {

    .form-container{
        padding-left: 150px;
        padding-top: 10px;
    }

    .formHead {
        padding-left: 135px;
        font-size: 21px;
        padding-top: 65px;
    }
    .contact-info{
        padding-left: 90px !important;
    }
    
    .tab-full{
        padding: 0 10px;
        width: 200px;
    }
}

@media only screen and (max-width: 510px) {

    .form-container{
        padding-left: 120px;
        padding-top: 20px;
    }

    .formHead {
        padding-left: 169px !important;
        font-size: 21px;
        padding-top: 65px;
    }
    .contact-info{
        padding-left: 80px !important;
    }
    
    .tab-full{
        padding: 0 0px;
        width: 108px;
    }

    .btn-style{
        padding: 0 1.5rem;
        letter-spacing: 0rem;
        line-height: 3.4rem;
    }

    h5{
        font-size: 16px;
    }

    p{
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {

    .form-container{
        padding-left: 123px;
    }

    .formHead {
        padding-left: 151px !important;
        font-size: 20px;
        padding-top: 73px;
    }
    .contact-info{
        padding-left: 78px !important;
    }
    
    .tab-full{
        width: 90px;
    }

    .btn-style{
        width: 64px;
    }

    h5{
        font-size: 14px;
    }

    p{
        font-size: 12px;
    }
}