<div class="sidenav">
  <ul>
    <li>
        <i routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" class="icon-padding fa fa-home"></i>
    </li>
    <li>
        <i routerLink="/myProjects" routerLinkActive="active" class=" icon-padding fa fa-tasks"></i>
    </li>
    <li>
      <i routerLink="/graduation" routerLinkActive="active" class="icon-padding fa fa-graduation-cap"></i>
    </li>
    <li>
        <i routerLink="/resume" routerLinkActive="active" class="icon-padding fa fa-file"></i>
    </li>
    <li>
      <i routerLink="/contact" routerLinkActive="active" class="icon-padding fa fa-envelope"></i>
    </li>
    <li>
      <i routerLink="/map" routerLinkActive="active" class="icon-padding fa fa-map"></i>
    </li>
  </ul>
</div>