@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.home{
    background-image: url(../../assets/coffee.jpg);
    padding-left: 73px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.header{
    position: relative;
    text-rendering: optimizeLegibility;
    color: white;
    padding: 135px 129px 0px 150px;
    display: inline-block; 
    font-size: 80px;
    margin-bottom: 0px;
    font-family: 'Merriweather', serif;
}

.sub-header{
    font-size: 50px;
    padding-left: 150px;
    margin-top: 0px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 360px) {
    .home{
        padding-left: 75px !important;
    }

    .header{
        padding: 129px 0px 0px 20px !important;
        font-size: 50px!important;
    }

    .sub-header{
        font-size: 24px !important;
        padding-left: 20px !important;
    }
}

@media only screen and (max-width: 510px) {
    .home{
        padding-left: 100px;
    }

    .header{
        padding: 129px 0px 0px 6px !important;
        font-size: 60px;
    }

    .sub-header{
        font-size: 32px !important;
        padding-left: 6px !important;
    }
}

@media only screen and (max-width: 765px) {
    .home{
        padding-left: 100px;
    }

    .header{
        padding: 165px 0px 0px 30px;
        font-size: 75px;
    }

    .sub-header{
        font-size: 40px;
        padding-left: 30px;
    }
}
